.catalog {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }
}

.catalog__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  padding: 20px ;
  margin: 0;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  position: relative;
  display: flex;
  padding: 0 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
  }
}

.catalog__product-wrapper {
  width: 50%;
  padding-right: 10px;
}

.catalog__picture {
  width: 50%;
}

.catalog__product-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  width: 60%;
}

.catalog__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__button-wrapper {
  margin: 20px;
  text-align: center;
}

.catalog__order-button {
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 13px 0;
  color: #fff;
  background-color: #68b738;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #8bc26a;
    background-color: #5eaa2f;
  }
}

.catalog__list--more {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

  .catalog__list--more::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
}

.catalog__item--more {
  position: relative;
  text-align: center;
  padding-top: 80px;

    &::before {
      content: "";
      position: absolute;
      left: 46%;
      top: 50px;
      width: 32px;
      height: 2px;
      background-color: #d3d3d3;
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 35px;
      width: 2px;
      height: 30px;
      background-color: #d3d3d3;
    }
}

.catalog__order-button--more {
    background-color: $bg-lightgrey;
    color: #000000;
    outline: none;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: #b9b9b9;
      background-color: $bg-lightgrey;
    }
}

@media (min-width: $tablet-width) {
  .catalog {
    margin-bottom: 0;
  }
  .catalog::before,
  .catalog::after {
    display: none;
  }

  .catalog__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    padding-left: 20px;
    margin: 45px 0 100px 0;
  }

  .catalog__list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__list {
    position: relative;
    width: 324px;
    background-color: $bg-lightgrey;
    margin: 80px 30px;
  }

  .catalog__item {
    text-align: center;
    display: block;
    padding: 0 40px;
    margin-top: 140px;

      &::before,
      &::after {
        display: none;
    }
  }

  .catalog__product-wrapper {
    width: 250px;
    padding: 0px;
  }

  .catalog__product-title {
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    padding: 25px 0;
    margin: 0;
  }

  .catalog__product-image {
    position: absolute;
    bottom: 220px;
    left: 21%;
  }

  .catalog__product-image--500g {
    left: 25%;
  }

  .catalog__description {
    position: relative;
    font-size: 20px;
    line-height: 20px;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 100%;
      height: 1px;
      background-color: #cdcdcd;
    }
  }

  .catalog__order-button {
    width: 250px;
  }

  .catalog__button-wrapper {
    margin: 40px;
  }

  .catalog__list--more {
    position: relative;
    width: 324px;
    margin: 80px 30px;
    outline: solid 2px #e6e6e6;

    &::before {
      display: none;
    }
  }

  .catalog__item--more {
    font-size: 20px;
    line-height: 20px;
  }

  .catalog__product-title--more {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 20px;
  }


  .catalog__item--more {
    padding-top: 145px;
    width: 200px;
    margin: 0 auto;

      &::before {
        left: 35%;
        top: 80px;
        width: 60px;
      }

      &::after {
        left: 50%;
        top: 50px;
        height: 60px;
      }
  }

  .catalog__order-button--more {
    margin-top: 105px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .catalog__title {
    padding: 0 0 0 50px;
    margin: 50px 50px 50px -10px;
  }

  .catalog__list {
    width: 245px;
  }

  .catalog__product-wrapper {
    width: 170px;
  }

  .catalog__order-button {
    width: 170px;
  }

  .catalog__list--more {
    width: 245px;
  }

  .catalog__order-button--more {
    margin-top: 120px;
  }

  .catalog__product-image {
    left: 12%;
  }

  .catalog__product-image--500g {
    left: 18%;
  }
}
