.catalog-choice {
  width: 100%;
  margin: 0 auto;
}

.catalog-choice__item {
  position: relative;
  padding: 25px 32px 21px 19px;
  margin: 20px;

  background-color: $bg-lightgrey;
  z-index: 0;
}

.catalog-choice__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.catalog-choice__item-wrapper {
  display: flex;
  align-items: center;
}

.catalog-choice__item-wrapper::before {
  content: "";

  position: absolute;
  left: 20px;
  top: 27px;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  z-index: -1;

  background-color: $green-color;
}

.catalog-choice__icon--cat {
  width: 35px;
  height: 49px;
  margin: 0 26px 0 10px;
}

.catalog-choice__icon--jaguar {
  width: 67px;
  height: 28px;
  margin: 15px 15px 10px -8px;
}

.catalog-choice__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 27px;
  font-weight: 500;
}

.catalog-choice__description {
  margin-bottom: 45px;
  font-family: arial;
}

.catalog-choice__button {
  position: relative;
  text-transform: uppercase;
  color: #000000;

    &:active {
      color: #c5c6c6;
    }
}

.catalog-choice__button::before {
  content: "";

  position: absolute;
  left: 0px;
  bottom: 35px;

  width: 240px;
  height: 1px;

  z-index: -1;

  background-color: #d9d9d9;
}

.catalog-choice__arrow {
  margin-left: 10px;

    &:hover {
      width: 33px;
      height: 11px;
    }

    &:active {
      fill: #c5c6c6;
    }
}


@media (min-width: $tablet-width) {
  .catalog-choice {
    width: 708px;
    margin: 0 auto;
  }

  .catalog-choice__item{
    padding: 60px 60px 60px 50px;
    margin: 30px 0 30px 0;
  }

  .catalog-choice__description {
    width: 308px;
  }

  .catalog-choice__icon--cat {
    position: absolute;
    right: 70px;
    top: 60px;

    width: 140px;
    height: 194px;
  }

  .catalog-choice__icon--jaguar {
    position: absolute;
    right: 20px;
    top: 100px;

    width: 268px;
    height: 112px;
  }

  .catalog-choice__title {
    font-size: 36px;
    line-height: 37px;
  }

  .catalog-choice__description {
    font-size: 16px;
    line-height: 24px;
    margin: 25px 0 60px 0;
  }

  .catalog-choice__button {
    font-size: 20px;
    line-height: 20px;
  }

  .catalog-choice__item-wrapper::before {
    left: 440px;
    top: 70px;

    width: 200px;
    height: 200px;
  }

  .catalog-choice__button::before {
    display: none;
  }

  .catalog-choice__arrow {
    position: absolute;
    right: -45px;
    top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-choice {
    width: 1220px;
  }

  .catalog-choice__item {
    width: 480px;
    padding: 63px 50px;
    margin: 115px 0 78px 0;
  }

  .catalog-choice__description{
    width: 460px;
    margin: 25px 0 40px 0;
  }

  .catalog-choice__list {
    display: flex;
    justify-content: space-between;
  }

  .catalog-choice__icon--cat {
    position: relative;
    right: 0px;
    top: -15px;
    margin: 0 77px 0 15px;

    width: 70px;
    height: 97px;
  }

  .catalog-choice__icon--jaguar {
    position: relative;
    right: 10px;
    top: 0px;
    margin-right: 40px;

    width: 134px;
    height: 56px;
  }

  .catalog-choice__item-wrapper::before {
    left: 50px;
    top: 50px;

    width: 100px;
    height: 100px;
  }
}
