.form-contacts {
  position: relative;
  width: 100%;
  margin: 0 auto;

  &::before {
  content: "";
    background-color: #68b738;
    height: 3px;
    width: 100%;
    display: block;
    margin-top: 15px;
    position: absolute;
    z-index: -1;
  }
}

.form-contacts__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  padding-left: 20px;
  background-color: #ffffff;
  width: 290px;
  z-index: 1;
}

.form-contacts__form {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 0 20px;
}

.form-contacts__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-contacts__input {
  position: relative;
  font-style: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 15px;
  width: 100%;
  margin-left: 15px;
  border-radius: 0;
  border: solid 1px #e6e6e6;
  outline: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    border: solid 1px #cdcdcd;
  }

  &:active,
  &:focus-within {
    border: solid 1px #000000;
  }

  &:invalid {
    border: solid 1px #ff8282;
  }
}

.form-contacts__icon--mail {
  position: absolute;
  justify-content: center;
  right: 35px;
  fill: #000000;
  cursor: pointer;

  &:active,
  &:focus-within {
    fill: $green-color;
  }
}

.form-contacts__icon--phone {
  position: absolute;
  justify-content: center;
  right: 30px;
  fill: #000000;
  cursor: pointer;

  &:active {
    fill: $green-color;
  }
}

@media (min-width: $tablet-width) {
  .form-contacts__wrapper {
    width: 768px;
    margin: 0 auto;
  }

  .form-contacts__title {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-left: 20px;
    margin: 47px;
    width: 455px;
  }

  .form-contacts__form {
    padding: 0 70px;
    font-size: 20px;
    line-height: 20px;
  }

  .form-contacts__icon--mail {
    right: 90px;
  }

  .form-contacts__icon--phone {
    right: 85px;
  }
}

@media (min-width: $desktop-width) {
  .form-contacts {
    width: 100%;
  }

  .form-contacts__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .form-contacts__title {
    padding: 0 0 0 50px;
    margin: 50px;
    margin-left: -10px;
  }

  .form-contacts__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1180px;
    padding: 0 40px;
  }

  .form-contacts__item {
    width: 570px;
  }

  .form-contacts__icon--phone {
    right: 55px;
  }

  .form-contacts__icon--mail {
    left: 575px;
  }
}
