.food-choice {
  position: relative;
  text-align: center;
  width: 320px;
  margin: 0 auto;
}

.food-choice__title {
  padding: 30px 37px 0 37px;
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 500;
}

.food-choice__intro {
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 24px 0 26px 0;
  color: #ffffff;
  text-transform: uppercase;
}

.food-choice__background {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.food-choice__button {
  display: none;
}

.food-choice__button--mobile {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .food-choice {
    width: 708px;
  }

  .food-choice__wrapper {
    text-align: left;
  }

  .food-choice__background {
    display: none;
  }

  .food-choice__title {
    padding: 60px 192px 27px 90px;
    margin: 0;
    color: #000000;
    font-size: 60px;
    line-height: 60px;
  }

  .food-choice__intro {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 43px 0 22px 90px;
    color: #000000;
    text-transform: uppercase;
  }

  .food-choice__button {
    display: block;
    position: absolute;
    width: 244px;
    left: 90px;
    padding: 17px 0;
    top: 320px;

    font-size: 20px;
    line-height: 20px;
  }

  .food-choice__button--mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .food-choice {
    position: relative;
    width: 1220px;
    display: flex;
    justify-content: space-between;
  }

  .food-choice__title {
    padding: 106px 0 39px 10px;
  }

  .food-choice__intro {
    padding: 0;
    padding-left: 10px;
  }

  .food-choice__button {
    left: 85px;
    top: 380px;
  }

  .food-choice__wrapper {
    text-align: left;
    width: 417px;
    margin-left: 74px;
  }


  .food-chioce__image {
    position: relative;
    left: -45px;
    margin: 40px 220px 0 0;
  }

  .food-choice__background {
    display: block;
    position: absolute;
    width: 720px;
    height: 696px;
    right: -60px;
    top: -110px;
    z-index: -1;
  }
}
