.advantages {
  width: 280px;
  margin: 0 auto;
}

.advantages__title {
  margin: 0;
  padding: 15px 0 15px 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
}

.advantages__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.advantages__item {
  padding-top: 20px;
}

.advantages__item-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.advantages__item-wrapper::before {
  content: "";
  position: absolute;

  top: 0;
  left: 0;

  width: 60px;
  height: 60px;

  background-color: $green-color;
  z-index: -1;
}

.advantages__icon--leaf {
  width: 26px;
  height: 29px;
  margin: auto;
}

.advantages__icon--water {
  width: 29px;
  height: 31px;
  margin: auto;
}

.advantages__icon--cutlery {
  width: 23px;
  height: 30px;
  margin: auto;
}

.advantages__icon--clock {
  width: 26px;
  height: 31px;
  margin: auto;
}

.advantages__description {
  width: 197px;
  margin-left: 22px;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 708px;
    margin: 0 auto;
  }

  .advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: 1220px;
    margin: 0 auto;
  }

  .advantages__list {
    flex-wrap: nowrap;
  }

  .advantages__item {
    width: 245px;
  }
}
