.catalog-choice {
  width: 320px;
  margin: 0 auto;
}

.catalog-choice__item{
  padding: 25px 32px 21px 19px;
  margin-bottom: 20px;

  background-color: $bg-lightgrey;
}

.catalog-choice__list {
  padding: 0;
  margin: 0;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .catalog-choice {
    width: 708px;
    margin: 0 auto;
  }

  .catalog-choice__item{
    padding: 60px 60px 60px 50px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-choice {
    width: 1220px;
  }

  .catalog-choice__item {
    width: 480px;
    padding: 63px 50px;
    margin: 0;
  }

  .catalog-choice__list {
    display: flex;
    justify-content: space-between;

  }
}
