.example {
  width: 320px;
  margin: 0 auto;
  background-color: $bg-lightgrey;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title{
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  margin: 0;
  padding: 20px 0;
}

.example__description {
  font-family: Arial;
  margin: 0;
  padding-bottom: 28px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
}

.example__list--wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example__item {
  display: flex;
  flex-direction: column;
  margin-right: 17px;

  text-align: center;
  width: 124px;
  font-family: Arial
}

.example__number {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;

  padding-bottom: 10px;
}

.example__amount-spent {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  width: 280px;
  margin: 25px 0 45px 0;
}

.example__container {
  position: relative;
}

.example__image-before {
  height: 232px;
}

.example__image-after--mobile {
  display: none;
  height: 232px;
}

.example__image-after--desktop {
  display: none;
}

.example__slider-wrapper {
  display: none;
}

.example__switch-wrapper--mobile {
   width: 100%;
   text-align: center;
   font-size: 16px;
   line-height: 20px;
   text-transform: uppercase;

   padding: 40px 0;
}

.example__switch--mobile {
  position: relative;
  display: inline-block;
  width: 85px;
  height: 14px;

  margin: 0 18px;
}

.example__switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.example__slider--mobile {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 86px;
  height: 15px;
  border-radius: 15px;
  border: solid 1px #cdcdcd;
  outline: none;
  background-color: #ffffff;
}

.example__slider--mobile:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 36px;
  left: 6px;
  bottom: 4px;
  border-radius: 15px;
  outline: none;
  background-color: $green-color;
}

.example__switch-input:checked + .example__slider--mobile:before {
  -webkit-transform: translateX(39px);
  -ms-transform: translateX(39px);
  transform: translateX(39px);
}

@media (min-width: $tablet-width) {
  .example {
    width: 768px;
    margin: 0 auto;
  }

  .example__wrapper {
    padding: 0;
    background-color: #ffffff;
  }

  .example__wrapper--description {
    padding: 0 30px;
  }

  .example__title {
    font-size: 60px;
    padding: 52px 0;
  }

  .example__description {
    padding-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__list--wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
  }

  .example__item {
    padding: 0 30px;
    margin: 0;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
    margin: 0;
  }

  .example__amount-spent {
    text-align: end;
    font-size: 20px;
    line-height: 20px;
    width: 130px;
    padding: 0;
    margin: 0;
  }

  .example__container {
    display: none;
  }

  .example__image-before {
    position: absolute;
    top: -151px;
    left: 85px;
    width: 672px;
    height: 499px;
    z-index: 1;
  }

  .example__image-after--desktop {
    display: block;
    position: absolute;
    top: -171px;
    left: 170px;
    width: 545px;
    height: 517px;
  }

  .example__switch-wrapper--mobile {
    display: none;
  }

  .example__slider-wrapper {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;

    padding: 0 0 70px 0;
  }

  .example__slider {
    -webkit-appearance: none;
    width: 426px;
    height: 7px;
    margin: 0 20px;

    background: #dcdcdc;
    border-radius: 20px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .example__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 42px;

    background-image: url("../img/thumb.png");
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    z-index: 3;

      &:active {
        width: 42px;
        height: 42px;

        background-image: url("../img/thumb-active.png");
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 3;
        outline: none;
      }
}

  .example__slider-text {
    text-decoration: underline dotted #c5c6c6;
    text-underline-position: under;

    &:hover {
      text-decoration: underline solid #000000;
      text-underline-position: under;
    }
  }

  .example__slider::-moz-range-thumb {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #ffffff;
    outline: solid 1px #dcdcdc;
    cursor: pointer;
  }


  .example__slider-figure {
    position: relative;
    font-size: 0;
    margin: 0 auto;

    width: 680px;
    height: 517px;
    background-image: url("../img/before-slider-desktop.jpg");
    background-repeat: no-repeat;
  }

  .example__slider-divisor {
    position: absolute;
    overflow: hidden;

    width: 50%;
    height: 100%;
    left: 20px;

    background-image: url("../img/after-slider-desktop.jpg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: 1220px;
    padding: 0;
    background-color: #ffffff;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper--description {
    flex-direction: column;
    width: 450px;
    padding: 0;
  }

  .example__description {
    width: 450px;
  }

  .example__list--wrapper {
    padding: 0;
  }

  .example__amount-spent {
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    width: 325px;
    padding: 60px 0 70px 0;
    margin: 0;
  }

  .example__slider-wrapper {
    top: -80px;
    left: 30px;
  }
}
