.example {
  width: 320px;
  margin: 0 auto;
  background-color: $bg-lightgrey;
}

.example__wrapper {
  padding: 0 20px;
}

.example__title{
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  margin: 0;
  padding: 20px 0;
}

.example__description {
  font-family: Arial;
  margin: 0;
  padding-bottom: 28px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0;
  margin: 0;
}

.example__list--wrapper {
  display: flex;
  justify-content: space-between;
}

.example__item {
  display: flex;
  flex-direction: column;
  margin-right: 34px;

  text-align: center;
  width: 124px;
  font-family: Arial
}

.example__number {
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;

  padding-bottom: 10px;
}

.example__amount-spent {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  margin: 25px 0 45px 0;
}

@media (min-width: $tablet-width) {
  .example {
    width: 708px;
    margin: 0 auto;
  }

  .example__list--wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__item {
    padding-right: 44px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: 1220px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper--description {
    flex-direction: column;
    width: 443px;
  }
}
