.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
}

.social__list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__social {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 1220px;
  }
}
