body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #000;
  font-style: normal;
}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.button {
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  padding: 7px 73px;
  background-color: $green-color;
  color: #ffffff;
  border: none;
  outline: none;

    &:hover {
      background-color: $dark-green;
    }

    &:active {
      color: #81bd5d;
    }
}
